<!doctype html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{administrativo/fragments/layout}">


<head>

<title>Moya's - Cadastro de Produto</title>

</head>

<body>



	<div class="layout-content" layout:fragment="corpo">
		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-header">
							<strong>Cadastro Produto</strong>
						</div>

						<form class="form-horizontal" enctype="multipart/form-data" th:object="${produto}"
							th:action="@{/administrativo/produto/salvar}" method="POST"
							style="margin: 10px">
							<div class="form-group">
								<fieldset>
									<div class="form-group row">
										<div class="alert alert-danger"
											th:if="${#fields.hasAnyErrors()}">
											<div th:each="detailedError : ${#fields.detailedErrors()}">
												<span th:text="${detailedError.message}"></span>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-md-1">
											<input type="hidden" class="form-control input-sm" id="id"
												th:field="*{id}" readOnly="readonly" />
										</div>
									</div>
									<div class="form-group ">
										<div class="control-label mb-1"
											th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
											<label>Nome</label> <input type="text"
												class="form-control input-sm" th:field="*{nome}"
												autofocus="autofocus"
												placeholder="Informe o nome do Produto" maxlength="50" />
										</div>
									</div>

									<div class="form-group ">
										<div class="control-label mb-1"
											th:classappend="${#fields.hasErrors('preco')}? 'has-error'">
											<label>Preço</label> <input type="text"
												class="form-control input-sm" th:field="*{preco}"
												autofocus="autofocus"
												placeholder="Informe o Preço" maxlength="9"
												required="required" />
										</div>
									</div>
									<div class="form-group ">
										<div class="control-label mb-1"
											th:classappend="${#fields.hasErrors('qt_estoque')}? 'has-error'">
											<label>Quantidade Estoque</label> <input type="number"
												class="form-control input-sm" th:field="*{qt_estoque}"
												autofocus="autofocus"
												placeholder="Informe a Quantidade"
												maxlength="50" required="required" />
										</div>
									</div>
									<div>
										<label>Categoria</label> <select class="form-control"
											th:field="*{categoria}">
											<option th:each="cat: ${categoria}"
												th:value="${cat.id}" th:text="${cat.nome}"></option>
										</select>
									</div>
									<div class="form-group ">
										<div class="control-label mb-1"
											>
											<label>Imagem</label> <input type="file" name="file"
												class="form-control input-sm" 
												autofocus="autofocus"
												 />
										</div>
										</div>

								</fieldset>
							</div>
							<div class="form-group ">
								<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
								<a th:href="@{cadastrar}" class="btn btn-sm btn-default">Cancelar</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
