<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}">

<head>
	
	
	<title>Moya's</title>
	
<body>

	

	<!-- start banner Area -->
	<div class="layout-content" layout:fragment="corpo">
	<br><br><br><br><br><br><br><br><br><br><br><br>
	
	
		<div class="container" >
		 <div class="col-md-6">
				
				<img th:src="@{/karma/img/moya/logo.png}">
				
				
		<h1>Acesso não permitido!</h1>
		<a class="btn btn-sm btn-primary" th:href="@{/cliente}">Voltar</a>
		</div>
		</div>
		</div>


</body>


</html>