<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}">

<head>
	
	
	<title>Moya's</title>
	
<body>

	

	<!-- start banner Area -->
	<div class="layout-content" layout:fragment="corpo">
	<br><br><br><br><br><br><br><br><br><br><br><br>
	
	
		<div class="container" >
		 <div class="col-md-12">
				<form>
				<img th:src="@{/karma/img/moya/logo.png}">
				
				
				<h4>Seja Muito Bem vindo ao Moya's Artesanatos</h4><br>
				<h5>Sobre:</h5>
				<a>Gostariamos de Agradecer a sua visitas, a nosso site.
				Somos uma Empresa que foi fundada no ano de 2014,e tem como finalidade te trazer comodidade e soluções Simples para os seus problemas 
				cotidianos.Desejamos sempre que se Sintam acolhidos em nosso site e procuraremos sempre atende-los de Forma eficiente, rápida e com um preço Justo.
				
				</a>
				<br>
				</form>
				<br>
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<h6><a href="#">(44)99964-0878</a></h6>
							<p>Seg a Sex 9 às 18hrs </p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<h6><a href="#">laisemoya@hotmail.com</a></h6>
							<p>Nos Mande um Email!</p>
						</div>
						<div class="info_item">
						<a href="https://en-gb.facebook.com/pg/MoyasArtesanatos/posts/"><i class="fa fa-facebook"></i></a>
							<h6><a href="#">Clique e Acesse</a></h6>
							<p>Veja nossa Página no Facebook!</p>
						</div>
						<div class="info_item">
							<a href="https://www.instagram.com/moyasartesanatos/"><i class="fa fa-instagram"></i></a>
							<h6><a href="#">Clique e Acesse </a></h6>
							<p>Veja nossa Página no Instagram!</p>
						</div>
					</div>
				</div>
				
			
						</div>
						</div>
						
						</div>
				


</body>


</html>