<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">

<head>
    <title>Moya's</title>
</head>

<body>


   
	<div class="layout-content" layout:fragment="corpo">
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Inicio</h1>
                    </div>
                </div>
            </div>    
        </div>

	<h1>Acesso não permitido!</h1>
	<a class="btn btn-sm btn-primary" th:href="@{/administrativo}">Voltar</a>
	</div>
  
   

    
</body>



</html>